@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    margin-left: 22rem;
    margin-right: 22rem;
}

.cv {
    margin-left: 1rem;
    margin-top: 2rem;
    background-color: rgb(249 250 253);
}

h2 {
    color: rgb(55, 187, 248);
    font-weight: 500;
    
}

.header {
    display: flex;
    padding: 1rem 0 0 1rem;
}

.photo img {
    border-radius: 50%;
    width: 12rem;
    height: 14rem;
    border: 5px ridge rgb(0 20 20 / 10%);
    
}

.info {
    padding-left: 3rem;
    padding-top: 3rem;
}

.left {
    border-left: 2px dashed rgb(160, 160, 160);
    padding-left: 1rem;
    margin-left: 1rem;
}

.right {
    border-left: 2px dashed rgb(160, 160, 160);
    margin-left: 3rem;
    padding-left: 1rem;
}

.skills {
    font-weight: bold;
}

.body {
    display: flex;
}

p{
    
    color: rgb(42 42 42);
  
}